extend ../layout/index
block contenido
      main.container.mt-5
          .row
              .col-md-5
                    img(src="img/nosotros.jpg", class="img-fluid")
              .col-md-7
                   h1 #{pagina}
                   blockquote  Nunc volutpat risus quis dolor faucibus, sit amet iaculis eros pellentesque. Aliquam venenatis tristique justo, ut vehicula sem aliquam ut. Nam facilisis lacus ut quam luctus, ac malesuada diam dapibus. Donec augue quam, accumsan quis turpis non, scelerisque sodales lectus.
                   p Donec pellentesque, arcu ut egestas viverra, lorem massa cursus nunc, ut molestie nunc enim quis ex. Etiam egestas elementum ullamcorper.
                   p Vestibulum dignissim, nisl nec sodales faucibus, purus mauris fringilla leo, non venenatis massa ante id quam. Duis id tellus bibendum felis efficitur tincidunt vel vel felis. 
                   p Sed ut nunc sagittis, mollis risus eu, placerat urna. Vivamus quis eleifend neque. Morbi dignissim vestibulum rhoncus. Cras in ex lobortis, malesuada augue at, pulvinar felis.
                   p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae mollis massa, non cursus felis. Curabitur orci sapien, tempus quis velit at, vehicula feugiat ex. Vestibulum ut orci vitae est molestie scelerisque sed nec justo. Suspendisse turpis neque, egestas eget dolor in, mattis rutrum tellus. Nam venenatis nisl a porttitor placerat.
      .listado-iconos
             .container.mt-5.py-5.text-center
                 .row
                   .col-md-4
                      img.img-fluid.mb-4(src="img/icono_seguridad.svg", alt="iconoSeguridad")  
                      h2.mb-4 Seguridad
                      p Nulla ac consequat justo. Donec porttitor ornare orci, non eleifend odio euismod nec. Class aptent taciti sociosqu ad litora torquent per conubia nostra.  
                   .col-md-4
                      img.img-fluid.mb-4(src="img/icono_destinos.svg", alt="iconoSeguridad")  
                      h2.mb-4 Mejores Destinos
                      p Nulla ac consequat justo. Donec porttitor ornare orci, non eleifend odio euismod nec. Class aptent taciti sociosqu ad litora torquent per conubia nostra.     
                   .col-md-4
                      img.img-fluid.mb-4(src="img/icono_precios.svg", alt="iconoSeguridad")  
                      h2.mb-4 Precios
                      p Nulla ac consequat justo. Donec porttitor ornare orci, non eleifend odio euismod nec. Class aptent taciti sociosqu ad litora torquent per conubia nostra.             
